{% extends 'base.html' %}

{% block title %}main page{% endblock title %}

{% block content %}
<div class="ui grid">
    <div class="two wide column">
    </div>
    <div class="twelve wide column">
        <div class="ui fluid card">
            <div class="content">
                <div class="right floated meta">
                    <div class="ui grid">
                        <div class="row">
                            {% if request.user == post.author.user %}
                            <a href="{% url 'posts:post-update' post.pk %}">
                                <button class="ui button bwhite-lg ">Изменить</button>
                            </a>
                            <a href="{% url 'posts:post-delete' post.pk %}">
                                <button class="ui button bwhite-lg ">Удалить</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h1 class="ui header">{{post.name}}</h1>
            </div>
            {% if post.image %}
            <div class="ui fluid  rounded image">
                <div class="ui segment">
                    <img class="ui small image" src={{post.image.url}}>
                </div>
            </div>
             {% endif %}
            <div class="content">
                {% if lines_empty %}
                <div class="ui segment">
                    <h2 class="ui header oranges">Ингредиенты:</h2>
                    <div class="ui grid container">
                        {% for item in components %}
                        <div class="four wide column">
                            <label class="checkbox style-h">
                                <input type="checkbox"/>
                                <div class="checkbox__checkmark"></div>
                                <div class="checkbox__body">{{item}}</div>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="ui segment">
                    <h2 class="ui header oranges">Рецепт:</h2>
                    {% for line in lines %}
                    <p> {{ line }} </p>
                    {% endfor %}
                </div>
                <div class="ui segment">
                    <h2 class="ui header oranges">Автор:</h2>
                    <img class="ui avatar image" src={{post.author.avatar.url}}>
                    {% if obj.author == profile %}
                    <a href="{% url 'profile:my-profile-view' %}">{{ post.author.user }}</a> - {{ post.created|timesince}}
                    {% else %}
                    <a href="{{author.get_absolute_url}}">{{ post.author.user }}</a> - {{ post.created|timesince}}
                    {% endif %}
                    <br>
                    <span>Количество рецептов: {{author.get_posts_no}}</span>
                </div>
                <div class="right floated">
                    <form action="{% url 'posts:like-post-view' %}" method="POST" class='like-form' id='{{post.id}}'>
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value={{post.id}}>

                        {% if profile not in post.liked.all %}
                        <button type="submit" class="ui orange button like-btn{{post.id}}">Like {{post.num_likes}}
                        </button>
                        {% else %}
                        <button type="submit" class="ui button like-btn{{post.id}}"> Unlike {{post.num_likes}}</button>
                        {% endif %}
                    </form>
                </div>
                <i class="comment icon"></i>
                {% if post.num_comments == 0 %}
                <span> Нет комментариев </span>
                {% elif post.num_comments == 1 %}
                <span> {{ post.num_comments }} комментарий </span>
                {% elif post.num_comments < 5 %}
                <span> {{ post.num_comments }} комментария </span>
                {% else %}
                <span> {{ post.num_comments }} комментариев </span>
                {% endif %}
            </div>


            <div class="extra content">
                {% if post.num_comments != 0 %}
                <button class="cmt_btn ui button mb-5">Комментарии</button>
                <div class="comment-box">
                    {% if post.comment_set.all %}
                    {% for c in post.comment_set.all %}

                    <div class="ui segment mb-5">
                        <img class="ui avatar image" src={{c.user.avatar.url}}>
                        <span>{{ c.user }}</span>
                        <div class='mt-5'>{{ c.body }}</div>
                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}

                <form action="" method="POST" class='ui fluid form'>
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{post.id}} placeholder="Написать комментарий...">
                    {{ c_form }}
                    <button type="submit" name="submit_c_form" class="ui orange  button mt-5 w-full">Отправить</button>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block scripts %}
<script>
    $(document).ready(function () {
        let display = false
        $(".cmt_btn").click(function () {
            if (display === false) {
                $(this).next(".comment-box").show("slow");
                display = true
            } else {
                $(this).next(".comment-box").hide("slow");
                display = false
            }
        });

        $('.like-form').submit(function (e) {
            e.preventDefault()

            const post_id = $(this).attr('id')

            const likeText = $(`.like-btn${post_id}`).text()
            const trim = $.trim(likeText)

            const url = $(this).attr('action')

            let res;
            const likes = $(`.like-count${post_id}`).text()
            const trimCount = parseInt(likes)

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    'post_id': post_id,
                },
                success: function (response) {
                    if (trim === 'Unlike') {
                        $(`.like-btn${post_id}`).text('Like')
                        res = trimCount - 1
                    } else {
                        $(`.like-btn${post_id}`).text('Unlike')
                        res = trimCount + 1
                    }

                    $(`.like-count${post_id}`).text(res)
                },
                error: function (response) {
                    console.log('error', response)
                }
            })

        })
    });
</script>
{% endblock scripts %}